# Numerical Variable Graphs

## Business Objective

-------------------------------------------------------------------------------------------------------------------------------

To graphically analyze the difference in the statitical quantities of our data to have a broader perspective of things.
 
-------------------------------------------------------------------------------------------------------------------------------

In [1]:
#importing libraries
import os
import pandas as pd
import numpy as np
import seaborn as sns
import xlrd
import matplotlib.pyplot as plt
import time
import statistics

In [2]:
#Changing the directory using os package, to the place where the excel sheet exists
os.chdir('C:/Users/Viswa/Desktop/R Project')

#Name of the excel sheet
excel_file='Project_Part_2.xlsx'

#Reading excel sheet into sales.
comp=pd.read_excel(excel_file)

In [3]:
comp.describe()

,global_rank,sales_billion,profits_billion,assets_billion,market_value_billion
count,135.000000,135.000000,135.000000,135.000000,135.000000
mean,972.792593,22.403704,2.040000,127.399259,20.465185
std,554.339800,47.836466,5.253573,405.949323,39.244472
min,1.000000,0.800000,-1.500000,1.300000,0.200000
25%,549.500000,4.900000,0.400000,8.350000,5.400000
50%,991.000000,10.300000,0.600000,15.500000,8.700000
75%,1439.500000,18.000000,1.300000,41.250000,14.800000
max,1948.000000,411.700000,37.800000,2813.500000,261.200000

In [4]:
d=comp.describe()
d=d[1:-1]

## Conclusion

In [5]:
d

,global_rank,sales_billion,profits_billion,assets_billion,market_value_billion
mean,972.792593,22.403704,2.040000,127.399259,20.465185
std,554.339800,47.836466,5.253573,405.949323,39.244472
min,1.000000,0.800000,-1.500000,1.300000,0.200000
25%,549.500000,4.900000,0.400000,8.350000,5.400000
50%,991.000000,10.300000,0.600000,15.500000,8.700000
75%,1439.500000,18.000000,1.300000,41.250000,14.800000

These variables will be analysed for each column through a graph.